html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  background-color: hsl(222, 13.5%, 14.5%);
  color: #fff;
}

h1,
h2 {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: hsl(308, 13%, 22.5%);
  color: #fff;
}

header {
  padding: 1rem;
}

.size {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 2;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: hsla(0, 0%, 88.2%, 0.75);
  color: rgba(0, 0, 0, 0.5);
  border: 0;
}

.size:empty {
  display: none;
}

.editor-wrapper {
  position: relative;
  height: calc(100% - 45px);
}

.editor .CodeMirror {
  height: 100%;
  font-size: 1rem;
  line-height: 1.5;
}

.editor.source .CodeMirror {
  background-color: aliceblue;
}

.editor.minified .CodeMirror {
  padding: 0.5rem 1rem;
}

.editors-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.editor {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.editor .cm-s-default .cm-def {
  color: hsl(240deg 50% 50%);
}

@media (min-width: 1024px) {
  .editors-container {
    flex-direction: row;
  }

  .editor + .editor {
    border-left: 1px solid hsl(240, 7.6%, 43.7%);
  }
}
